@media screen and (max-width: 480px){
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: rgba(0, 0, 0, 0.925); 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
    *{
        margin: 0 0;
        padding: 0 0 0 0;
        
    }
    #navbar{
        background-color: transparent;
        height: 0px;
        
        
        
        
        
    }
    nav ul{
        
        display: none;
        flex-direction: column;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 20;
        transition: top 1s ease;
        background: #000;
        gap: 40px;
        
        
    }
    
    nav ul li{
        display: flex;
        flex-direction: column;
        gap: 4;
        list-style-type: none;
        
    }
    nav ul li a{
        text-decoration: none;
        padding: 0 9px;
        color: green;
    }
    .openMenu{
        display: flex;
        color: green;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        size: 40px;

    }
    .closeMenu{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    .openicon{
        fill: rgb(145, 240, 145);
        font-size: 90px;
        
    }
    .closeicon{
        fill: rgb(145, 240, 145);
    }
    li a:hover{
        text-decoration: underline;
    
    }
    #welcome-container{
        background-image:  radial-gradient(rgba(15, 7, 7, 0.72), rgba(17, 6, 6, 0.856)), url('/media/wallpapermobile.jpg');
        
        
        height: 100vh;
        background-size: cover;
    }
    
    @keyframes typewriter{
        from {
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    #welcome-section{
        margin-top: 0px;
    }
    .image-container{
        padding-top: 180px;
    }
    
    .profilepic{
        border-radius: 50%;
        border: 3px solid green;
        
    }
    #welcome-text{
        font-size: 1.5em;
        text-align: center;
        padding-top: 30px;
        
        
        
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    #name-text{
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        color: rgba(171, 243, 192, 0.938);
        white-space: nowrap;
        animation: typewriter 4s steps(30) 0s normal both;
        padding-top: 40px;

    }
    #sub-text{
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: white;
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 3s steps(30) 2s normal both;

    }
    #brief-text{
        font-size: 14px;
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
        color: white;
    }
    .active{
        opacity: 2 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 3s;
    }
    #expertise{
       
        
        height: 50vh;
        background-size: cover;
        backdrop-filter: blur(10px);
        padding-top: 50px;
        padding-bottom: 50px;
        opacity: 0;
        transform: translateY(30px);
        
    }
    .expertise-header{
        text-align: center;
        color: white;
        margin-top: 40px;
        position: relative;
        top: 30px;
        font-size: 30px;
        width: 250px;
        margin: 0 auto;
        margin-bottom: 80px;
        
    }
    .expertise-container{
        display: flex;
        flex-direction: row;
        border: 3px solid rgb(145, 240, 145);
        width: 80%;
        margin: 0 auto;
        
        padding: 20px;
        gap: 25px;
        

    }
    .svg{
        fill: white;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .skill{
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        
    }
    .skill-p{
        color: white;
        width: 90%;
        
        border-left: 4px solid rgb(145, 240, 145);
        padding-left: 15px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        margin-top: 9px;
    }
    .experticons{
        width: 80%;
        margin: 0 auto;
        
        margin-top: 20px;
    }
    .experticons span > *{
        border: 2px solid rgb(182, 247, 182);
        border-radius: 10px;
        color: white;
        padding: 5px;
        line-height: 40px;
    }
    .activeproject{
        opacity: 3 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 3s;
    }
    #projects{
        padding-top: 70px;
        opacity: 0;
        transform: translateY(30px);
        
        
        
        padding-bottom: 40px;
    }
    #projects h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 250px;
        margin: auto;
        text-align: center;
        padding-bottom: 1px;
        margin-bottom: 25px;
        color: white;
        font-size: 30px;
    }
    #project-grid{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
    .work-card{
        text-decoration: none;
        
    }
    .grid-item{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        
        
        
    }
    .name-div{
        background-color: rgb(19, 27, 19);
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    .name-element{
        padding-top: 20px;
        color: rgb(145, 240, 145);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .description-element{
        text-align: center;
    }
    .stack-element{
        text-align: center;
        font-size: smaller;
        color: white;
    }
   
    
    
    
    input{
        height: 40px;
        width: 120px;
        margin: 10px auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    #contact{
        text-align: center;
        height: 600px;
        background-color: rgb(0, 30, 0);
    }
    .activecontact{
        opacity: 2 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 4s;
    }
    .contact-container{
        width: 85%;
        margin: 0 auto;
        opacity: 0;
        transform: translateY(40px);
    }

    #contact h2{
        font-size: 30px;
        padding-top: 150px;
        color: white;
    }
    #contact p{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        padding-top: 10px;
    }
    #mail-a{
        margin-bottom: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: white;
        margin: 0 auto;
    }
    .mail{
        border-bottom: 4px solid black;
        width: 60%;
        margin: 0 auto;
        padding-top: 100px;
        
    }
   
    .social{
        display: flex;
        flex-direction: row;
        width: 55%;
        margin: 0 auto;
        gap: 30px;
        padding-top: 10px;
       
       }
       .social a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
       }
}
@media screen and (min-width: 481px){
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: rgba(0, 0, 0, 0.925); 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        
    }
    *{
        margin: 0 0;
        padding: 0 0 0 0;
    }
    #navbar{
        
        position: relative;
        z-index: 3;
        
        width: 100%;
        
    }
    .openMenu{
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
       
       
    }
    .closeMenu{
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
       
    }
    .openicon{

    
        fill:rgb(145, 240, 145);
    }
    .closeicon{
        fill: rgb(145, 240, 145);
    }
    nav ul{
        
        display: none;
        flex-direction: column;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        background-color: black;
        
        transition: top 1s ease;
       
        gap: 40px;
        
    }
    nav ul li{
        display: inline-block;
        justify-content: space-between;
    }
    li a{
        display: block;
        list-style-type: none;
        text-decoration: none;
        padding: 15px 25px;
        font-size: x-large;
        color:rgb(0, 100, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    
    li a:hover{
        text-decoration: underline;
    
    }
    #welcome-container{
        text-align: center;
        
        height: 100vh;
        background-image: radial-gradient(rgba(15, 7, 7, 0.9), rgba(17, 6, 6, 0.736)), url('/media/wallpaper.webp');
        background-size: cover;
        backdrop-filter: blur(10px);
    }
    #welcome-section{
        width: 60%;
        margin: 0 auto;
        
        height: 600px;
        
        
    }
    .image-container{
        padding-top: 60px;
    }
    .profilepic{
        border-radius: 50%;
        border: 3px solid green;
        
    }
    @keyframes typewriter{
        from {
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    #welcome-text{
        padding-top: 220px;

    }
    #name-text{
        font-size: 50px;
        width: 50%;
        margin: 0 auto;
        padding-top: 40px;

        
        text-align: center;
        color: rgba(171, 243, 192, 0.938);
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 4s steps(30) 0s normal both;

    }
    #sub-text{
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: white;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-size: 1.5em;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 3s steps(30) 2s normal both;
    }
    
    #brief-text{
        color: white;
        padding-top: 40px;
    }
    .active{
        opacity: 2 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 4s;

    }
    #expertise{
        opacity: 0;
        transform: translateY(30px);
        padding-top: 60px;
        padding-bottom: 60px;
        backdrop-filter: blur(10px);
        
    }
    .expertise-wrapper{
        padding-top: 50px;
    }
    .expertise-header{
        text-align: center;
        color: white;
        font-size: 50px;
        margin-bottom: 40px;

        padding-top: 100px;
        padding-bottom: 25px;
        width: 50%;
        margin: auto;
    }
    .expertise-container{
        display: flex;
        flex-direction: row;
        border: 3px solid rgb(145, 240, 145);
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        gap: 50px;
        

    }
    .svg{
        fill: white;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .skill{
        color: white;
        font-size: 25px;
        font-family: sans-serif;
        
    }
    .skill-p{
        color: white;
        width: 80%;
        line-height: 23px;
        border-left: 4px solid rgb(145, 240, 145);
        padding-left: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
    .experticons{
        width: 80%;
        margin: 0 auto;
        
        margin-top: 20px;
    }
    .experticons span > *{
        border: 2px solid rgb(182, 247, 182);
        border-radius: 10px;
        color: white;
        padding: 3px;
        line-height: 40px;
    }
    .activeproject{
        opacity: 2 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 3s;
    }
        

    
    #projects{
        padding-top: 50px;
        opacity: 0;
        transform: translateY(30px);
        padding-bottom: 40px;
        
    }
    #projects h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 50%;
        margin: auto;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 3px;
        margin-bottom: 40px;
        color: white;
        font-size: 40px;
    }
    #project-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: 0 auto;
        gap: 40px;
        
        
    }
    .work-card{
        text-decoration: none;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        place-items: center;
        
        
        
        
    }
    .name-div{
        background-color: rgb(19, 27, 19);
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .image-element{
        width: 100%;
        height: 100px;
        text-align: center;
    }
    .name-element{
        text-align: center;
        padding-top: 20px;
        color: rgb(145, 240, 145);
        font-size: 20px;

    }
    .description-element{
        text-align: center;
    }
    .stack-element{
        text-align: center;
        color: white;
        font-size: 14px;
        padding-top: 8px;

        font-family: 'Times New Roman', Times, serif;
    }
    
    
    #contact{
        height: 70vh;
        background-color: rgb(0, 30, 0);
    }
    #button{
        position: absolute;
        left: 45%;
        
    }
    input{
        height: 40px;
        width: 120px;
        margin: 10px auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    #contact{
        text-align: center;
        height: 70vh;
    }
    .activecontact{
        opacity: 2 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 3s;
    }
    .contact-container{
        width: 65%;
        opacity: 0;
        transform: translateY(30px);
        
        margin: auto;
    }
    #contact h2{
        font-size: 40px;
        font-family: sans-serif;
        padding-top: 50px;
        
        color: white;
    }
    #contact p{
        padding-top: 10px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    .mail a{
            margin-bottom: 0px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: none;
            color: white;
            margin: 0 auto;
    }
    .mail{
        border-bottom: 4px solid black;
        width: 60%;
        margin: 0 auto;
        padding-top: 100px;
        font-size: 20px;
    }
   .social{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
    justify-content: space-between;
   
   }
   .social a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: rgb(189, 243, 189);
   }
    
    
}
@media screen and (min-width: 821px){
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
    *{
        margin: 0 0;
        padding: 0 0 0 0;
    }
    #navbar{
        
       position: fixed;
       width: 100%;
        z-index: 40;
       background: none;
        
    }
    nav ul{
        display: flex;
        flex-direction: row;
        height: 50px;
        position: relative;
        justify-content: right;
        align-content: center;
        z-index: 40;
        gap: 9px;
        transition: none;
        
        
    }
    nav ul li{
        display: inline-block;
        justify-content: space-between;
    }
    li a{
        display: block;
        list-style-type: none;
        text-decoration: none;
        padding: 15px 25px;
        font-size: x-large;
        color: rgb(218, 253, 218);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        
    }
    li a:hover{
        text-decoration: underline;
    
    }
    .openMenu{
        display: none;
    }
    .closeMenu{
        display: none;
    }
    #welcome-container{
        text-align: center;
        
        height: 100vh;
        background-image: radial-gradient(rgba(15, 7, 7, 0.9), rgba(17, 6, 6, 0.736)), url('/media/wallpaper.webp');
        
    }
    #welcome-section{
        width: 60%;
        margin: 0 auto;
        padding: 50px 0px;

        
        height: 100vh;
        
        
    }
    .image-container{
        padding: 0;
    }
    .profilepic{
        border-radius: 50%;
        border: 3px solid green;
        
    }
    @keyframes typewriter{
        from {
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    #welcome-text{
        padding-top: 100px;

    }
    #name-text{
        
        width: 50%;
        margin: 0 auto;
        font-size: 60px;
        
        
        text-align: center;
        color: rgba(171, 243, 192, 0.938);
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 4s steps(30) 0s normal both;

    }
    #sub-text{
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: white;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-size: 1.8em;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 3s steps(30) 2s normal both;
    }
    #brief-text{
        color: white;
        font-size: 20px;
        padding-top: 20px;

    }
    
    .active{
        opacity: 2 !important;
        transform: translateY(0) !important;
        transition: opacity 3s, transform 3s;
    }
    #expertise{
        backdrop-filter: blur(10px);
        opacity: 0;
        transform: translateY(40px);
        padding-top: 50px;
        padding-bottom: 50px;
       
        
    }
    .expertise-header{
        text-align: center;
        color: white;
        font-size: 55px;
        

        width: 40%;
        margin: 0 auto;
    }
    .expertise-wrapper{
        padding-top: 10px;
    }
    .expertise-container{
        display: flex;
        flex-direction: row;
        border: 3px solid rgb(145, 240, 145);
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        gap: 50px;
        

    }
    .experticons{
        margin-left: 200px;
    }
    .svg{
        fill: white;
    }
    .skill-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .skill{
        color: white;
        font-size: 40px;
        font-family: sans-serif;
        
    }
    .skill-p{
        color: white;
        width: 55%;
        line-height: 27px;
        border-left: 4px solid rgb(145, 240, 145);
        padding-left: 15px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
        

    
    #projects{
        padding-top: 70px;
        padding-bottom: 60px;
        
        
    }
    #projects h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 370px;
        margin: auto;
        text-align: center;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 3px;
        margin-bottom: 40px;
        color: white;
    }
    #project-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: 0 auto;
        
        
    }
    .work-card{
        text-decoration: none;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        place-items: center;
        
        
        
    }
    .name-div{
        background-color: rgb(19, 27, 19);
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    .image-element{
        width: 100%;
        height: 140px;
        text-align: center;
    }
    .name-element{
        text-align: center;
        padding-top: 20px;
        color: rgb(145, 240, 145);
        text-decoration: none;

    }
    .description-element{
        text-align: center;
    }
    .stack-element{
        text-align: center;
        color: white;
    }
    
    
    #contact{
        height: 450px;
        background-color: rgb(0, 30, 0);
    }
    #button{
        position: absolute;
        left: 45%;
        
    }
    input{
        height: 40px;
        width: 120px;
        margin: 10px auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    #contact{
        text-align: center;
        height: 600px;
    }
    .contact-container{
        width: 65%;
        margin: 0 auto;
    }
    #contact h2{
        font-size: 40px;
        font-family: sans-serif;
        padding-top: 180px;
        color: white;
    }
    #contact p{
        padding-top: 10px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    .mail a{
        margin-bottom: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 10px;
    }
    .mail{
        border-bottom: 4px solid black;
        width: 50%;
        margin: 0 auto;
        padding-top: 100px;
        font-size: 20px;
    }
   .social{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
   
   }
   .social a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   }
   #mail-a{
        margin-bottom: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: white;
        margin: 0 auto;
        font-size: 25px;
    }
    .mail{
        border-bottom: 4px solid black;
        width: 50%;
        margin: 0 auto;
        padding-top: 100px;
        
    }
   
    .social{
        display: flex;
        flex-direction: row;
        width: 25%;
        margin: 0 auto;
        gap: 30px;
        padding-top: 10px;
       
    }
    .social a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
    }


}

        





