@media screen and (min-width: 1024px){
html{
    scroll-behavior: smooth;
}
*{
    margin: 0 0;
    padding: 0 0 0 0;
}
#navbar{
    background-color: black;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
nav ul{
    float: right;
    align-content: center;
    
}
nav ul li{
    display: inline-block;
    justify-content: space-between;
}
li a{
    display: block;
    list-style-type: none;
    text-decoration: none;
    padding: 15px 25px;
    font-size: larger;
    color:rgb(0, 100, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
li a:hover{
    text-decoration: underline;

}
#welcome-section{
    margin-top: 60px;
    height: 600px;
    background-color: rgb(48, 48, 48);
    
}
#welcome-text{
    font-size: 2em;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 180px 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#welcome-text p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(0, 129, 0);
}
#projects{
    padding-top: 70px;
    background-color: #227c22c4;
    height: 1100px;
    position: relative;
}
#projects h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 370px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 8px;
}
#project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    width:1100px;
    gap: 20px;
    margin: 20px auto;
    padding-top: 10px;
}
#project-grid section{
    border: 2px solid;
}
#contact{
    height: 450px;
    background-color: rgb(0, 30, 0);
}
#button{
    position: absolute;
    left: 45%;
    
}
input{
    height: 40px;
    width: 120px;
    margin: 10px auto;
    text-align: center;
    background-color: black;
    color: white;
}
#contact{
    text-align: center;
    height: 600px;
}
#contact h2{
    font-size: 60px;
    padding-top: 220px;
    color: white;
}
#contact a{
    padding: 0 10px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
#link{
    line-height: 10px;
}

}
