@media screen and (max-width: 480px){
    html{
        scroll-behavior: smooth;
    }
    
    
    *{
        margin: 0 0;
        padding: 0 0 0 0;
        
    }
    #navbar{
        background-color: transparent;
        height: 0px;
        
        
        
        
        
    }
    nav ul{
        
        display: flex;
        flex-direction: row;
        float: right;
        padding-top: 10px;
        
        
    }
    nav ul li{
        display: flex;
        flex-direction: row;
        gap: 4;
        list-style-type: none;
        
    }
    nav ul li a{
        text-decoration: none;
        padding: 0 9px;
        color: green;
    }
    
    li a:hover{
        text-decoration: underline;
    
    }
    #welcome-container{
        
        height: 100vh;
        background-image: radial-gradient(rgba(15, 7, 7, 0.9), rgba(17, 6, 6, 0.736)), url('/media/wallpapermobile.jpg');
        background-size: cover;
    }
    
    @keyframes typewriter{
        from {
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    #welcome-section{
        margin-top: 0px;
    }
    #welcome-text{
        font-size: 1.5em;
        text-align: center;
        padding-top: 220px;
        
        
        
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #name-text{
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 4s steps(30) 0s normal both;

    }
    #sub-text{
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: rgb(0, 129, 0);
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 3s steps(30) 2s normal both;

    }
    #projects{
        padding-top: 70px;
        background-color: #227c22c4;
        height: 1100px;
        position: relative;
    }
    #projects h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 370px;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 8px;
    }
    #project-grid{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        
        
    }
    .name-element{
        text-align: center;
        
    }
    .description-element{
        text-align: center;
    }
    .stack-element{
        text-align: center;
        font-size: smaller;
    }
   
    
    }
    #contact{
        height: 450px;
        background-color: rgb(0, 30, 0);
    }
    #button{
        position: absolute;
        left: 45%;
        
    }
    input{
        height: 40px;
        width: 120px;
        margin: 10px auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    #contact{
        text-align: center;
        height: 600px;
    }
    #contact h2{
        font-size: 60px;
        padding-top: 220px;
        color: white;
    }
    #contact a{
        padding: 0 10px;
        font-size: 30px;
        text-decoration: none;
        color: white;
    }
    #link{
        line-height: 10px;
    }
        

@media screen and (min-width: 481px){
    
    html{
        scroll-behavior: smooth;
    }
    *{
        margin: 0 0;
        padding: 0 0 0 0;
    }
    #navbar{
        background-color: transparent;
        height: 60px;
        
        width: 100%;
        z-index: 2;
    }
    nav ul{
        float: right;
        align-content: center;
        
    }
    nav ul li{
        display: inline-block;
        justify-content: space-between;
    }
    li a{
        display: block;
        list-style-type: none;
        text-decoration: none;
        padding: 15px 25px;
        font-size: larger;
        color:rgb(0, 100, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    li a:hover{
        text-decoration: underline;
    
    }
    #welcome-section{
        
        height: 600px;
        
    }
    #welcome-text{
        font-size: 2em;
        
        margin: 0 auto;
        text-align: center;
        padding: 180px 0;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #welcome-text p{
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: rgb(0, 129, 0);
    }
    #projects{
        padding-top: 70px;
        background-color: #227c22c4;
        height: 1100px;
        position: relative;
    }
    #projects h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 370px;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 8px;
    }
   
    #project-grid section{
        border: 2px solid;
    }
    #contact{
        height: 450px;
        background-color: rgb(0, 30, 0);
    }
    #button{
        position: absolute;
        left: 45%;
        
    }
    input{
        height: 40px;
        width: 120px;
        margin: 10px auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    #contact{
        text-align: center;
        height: 600px;
    }
    #contact h2{
        font-size: 60px;
        padding-top: 220px;
        color: white;
    }
    #contact a{
        padding: 0 10px;
        font-size: 30px;
        text-decoration: none;
        color: white;
    }
    #link{
        line-height: 10px;
    }
}
@media screen and (min-width: 769px){
    html{
        scroll-behavior: smooth;
    }
    body{
        
    }
    *{
        margin: 0 0;
        padding: 0 0 0 0;
    }
    #navbar{
        background-color: transparent;
        position: fixed;
        top: 0;
        
        
        
       
        width: 100%;
        
    }
    nav ul{
        float: right;
        align-content: center;
        
    }
    nav ul li{
        display: inline-block;
        justify-content: space-between;
    }
    li a{
        display: block;
        list-style-type: none;
        text-decoration: none;
        padding: 15px 25px;
        font-size: x-large;
        color:rgb(0, 100, 0);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
    }
    li a:hover{
        text-decoration: underline;
    
    }
    #welcome-container{
        text-align: center;
        
        height: 100vh;
        background-image: radial-gradient(rgba(15, 7, 7, 0.9), rgba(17, 6, 6, 0.736)), url('/media/wallpaper.webp');
    }
    #welcome-section{
        
        height: 600px;
        
        
    }
    @keyframes typewriter{
        from {
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    #welcome-text{
        padding-top: 220px;
        
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }
    #name-text{
        font-size: 4em;
        width: 50%;
        margin: 0 auto;
        
        text-align: center;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 4s steps(30) 0s normal both;

    }
    #sub-text{
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: rgb(0, 129, 0);
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-size: 1.5em;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 3s steps(30) 2s normal both;
    }
    #projects{
        padding-top: 70px;
        background-color: #227c22c4;
        height: 1100px;
        position: relative;
    }
    #projects h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 370px;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 8px;
    }
    #project-grid{
        display: flex;
        flex-direction: column;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        
        gap: 4px;
    }
    
    
    #contact{
        height: 450px;
        background-color: rgb(0, 30, 0);
    }
    #button{
        position: absolute;
        left: 45%;
        
    }
    input{
        height: 40px;
        width: 120px;
        margin: 10px auto;
        text-align: center;
        background-color: black;
        color: white;
    }
    #contact{
        text-align: center;
        height: 600px;
    }
    #contact h2{
        font-size: 60px;
        padding-top: 220px;
        color: white;
    }
    #contact a{
        padding: 0 10px;
        font-size: 30px;
        text-decoration: none;
        color: white;
    }
    #link{
        line-height: 10px;
    }

}


